:root {
  --pc: rgb(163, 0, 63);
  --sc: #00c4b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--pc);
  overflow-x: hidden;
}

div {
  max-width: 100%;
}
