:root {
  --pc: rgb(163, 0, 63);
  --sc: #00c4b3;
  --scrollbar-width: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--pc);
  overflow-x: hidden;
}

div {
  max-width: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #00d9ff; /* thumb color */
  border-radius: 0;
  border: 3px solid var(--pc); /* gives a padding effect around the scrollbar */
}
