.sc {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 3%;
  padding: 20px;
  padding-right: 5%;
}

.sc h1 {
  font-size: 40px;
  color: #e0ffff; /* near-white turquoise */
  text-shadow: 0 0 5px #00fefc, /* small sharp glow */ 0 0 10px #00fefc,
    /* medium glow */ 0 0 20px #00fefc, /* stronger glow */ 0 0 40px #00fefc,
    /* large neon glow */ 0 0 80px #00fefc; /* ultra glow effect */
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
