.sc {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 3%;
  padding: 20px;
  padding-right: 5%;
  background-color: rgb(153, 0, 51);
  position: relative;
}

.sc h1 {
  cursor: pointer;
  font-size: 40px;
  color: #e0ffff; /* near-white turquoise */
  text-shadow: 0 0 5px #00fefc, /* small sharp glow */ 0 0 10px #00fefc,
    /* medium glow */ 0 0 20px #00fefc, /* stronger glow */ 0 0 40px #00fefc,
    /* large neon glow */ 0 0 80px #00fefc; /* ultra glow effect */
}

.title2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 62%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  animation: scroll-left 2s linear infinite;
  width: max-content;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.title2 h1 {
  white-space: nowrap;
  margin: 0;
  font-size: 28px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e0ffff;
  text-shadow: 0 0 5px #00fefc, 0 0 10px #00fefc, 0 0 20px #00fefc;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-45%);
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
