.mangas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 1px;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .mangas-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .mangas-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .mangas-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.manga-area {
  width: 170px;
  height: 260px;
  border: 2.3px solid transparent;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 5px;
  border-radius: 2.45px;
  transition: border-color 0.5s ease;
}

.manga-area:hover {
  border-color: var(--main-color);
}

.cover-container {
  height: 235px;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
}

.cover-container img {
  margin-top: 4px;
  width: 145px;
  height: 230px;
  display: inline-block;
}

.manga-title-container {
  vertical-align: bottom;
  text-align: left;
  height: 16px;
  margin: 3px;
  margin-left: 2px;
  margin-top: 8px;
}

.manga-title-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin: 3px 10px;
}

.list-title {
  color: white;
  font-weight: bold;;
  margin-top: 80px;
  margin-left: 15px;
  border-bottom: solid 2px var(--main-color);
  padding-bottom: 5px;   
}